@import "./variables.scss";

.hero-image{
	width: 100%;
	height: 100%;
}

.mg-0{
	margin: 0px !important;
}

.mt-21{
	margin-top: 21px;
}

.pd-0{
	padding: 0px !important;
}

.v-center{
	display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}