//colors
$color_storm_dust_approx: #666;
$white_80: rgba(255,255,255,0.8);
$color_mercury_80_approx: rgba(230,230,230,0.8);
$white: #fff;
$color_mantle_approx: #869791;
$razzmatazz: #F0104E;
$black: #333333;
//fonts
$font_sans: sans-serif;
$font_Bitter: "Bitter";
$font_Oswald: "Oswald";

//urls
$url_0: url(../img/AjaxLoader.gif);
$url_0: url(../images/coffin.svg);
$url_1: url(../images/knife.svg);